autom4te.cache
build/*.spec
Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
src/.deps
src/apt-dater
src/adsh
config.[hls]*
*.o
stamp-*
*~
conf/*.xml
\#*#
.#*
etc/apt-dater.xml
etc/hosts.xml
lib/hosts2xml
debian
