autom4te.cache
build/*.spec
Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
src/.deps
src/apt-dater
src/adsh
config.[hls]*
*.o
stamp-*
*~
conf/*.xml
conf/*.inc
man/*.html
man/*.5
man/*.8
\#*#
.#*
etc/apt-dater.xml
etc/hosts.xml
lib/hosts2xml
debian
# autoreconf
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
INSTALL
install-sh
Makefile.in
missing
mkinstalldirs
m4
## autopoint
ABOUT-NLS
config.rpath
