language: c

env:
 - features=""
 - features="--enable-debug"
 - features="--enable-xmlreport"
 - features="--enable-autoref"
 - features="--enable-history"
 - features="--enable-clusters"
 - features="--enable-tclfilter"
 - features="--enable-tmux"
 - features="--enable-debug --enable-xmlreport"
 - features="--enable-autoref --enable-debug"
 - features="--enable-debug --enable-history"
 - features="--enable-clusters --enable-debug"
 - features="--enable-debug --enable-tclfilter"
 - features="--enable-debug --enable-tmux"
 - features="--enable-autoref --enable-xmlreport"
 - features="--enable-history --enable-xmlreport"
 - features="--enable-clusters --enable-xmlreport"
 - features="--enable-tclfilter --enable-xmlreport"
 - features="--enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-history"
 - features="--enable-autoref --enable-clusters"
 - features="--enable-autoref --enable-tclfilter"
 - features="--enable-autoref --enable-tmux"
 - features="--enable-clusters --enable-history"
 - features="--enable-history --enable-tclfilter"
 - features="--enable-history --enable-tmux"
 - features="--enable-clusters --enable-tclfilter"
 - features="--enable-clusters --enable-tmux"
 - features="--enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-debug --enable-xmlreport"
 - features="--enable-debug --enable-history --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-xmlreport"
 - features="--enable-debug --enable-tclfilter --enable-xmlreport"
 - features="--enable-debug --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-debug --enable-history"
 - features="--enable-autoref --enable-clusters --enable-debug"
 - features="--enable-autoref --enable-debug --enable-tclfilter"
 - features="--enable-autoref --enable-debug --enable-tmux"
 - features="--enable-clusters --enable-debug --enable-history"
 - features="--enable-debug --enable-history --enable-tclfilter"
 - features="--enable-debug --enable-history --enable-tmux"
 - features="--enable-clusters --enable-debug --enable-tclfilter"
 - features="--enable-clusters --enable-debug --enable-tmux"
 - features="--enable-debug --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-history --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-xmlreport"
 - features="--enable-autoref --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-history --enable-xmlreport"
 - features="--enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-tclfilter --enable-xmlreport"
 - features="--enable-clusters --enable-tmux --enable-xmlreport"
 - features="--enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-history"
 - features="--enable-autoref --enable-history --enable-tclfilter"
 - features="--enable-autoref --enable-history --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-tclfilter"
 - features="--enable-autoref --enable-clusters --enable-tmux"
 - features="--enable-autoref --enable-tclfilter --enable-tmux"
 - features="--enable-clusters --enable-history --enable-tclfilter"
 - features="--enable-clusters --enable-history --enable-tmux"
 - features="--enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-clusters --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-debug --enable-history --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-xmlreport"
 - features="--enable-autoref --enable-debug --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-debug --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-history --enable-xmlreport"
 - features="--enable-debug --enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-debug --enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-tclfilter --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-tmux --enable-xmlreport"
 - features="--enable-debug --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history"
 - features="--enable-autoref --enable-debug --enable-history --enable-tclfilter"
 - features="--enable-autoref --enable-debug --enable-history --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-tclfilter"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-tmux"
 - features="--enable-autoref --enable-debug --enable-tclfilter --enable-tmux"
 - features="--enable-clusters --enable-debug --enable-history --enable-tclfilter"
 - features="--enable-clusters --enable-debug --enable-history --enable-tmux"
 - features="--enable-debug --enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-clusters --enable-debug --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-history --enable-xmlreport"
 - features="--enable-autoref --enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-clusters --enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-history --enable-tclfilter"
 - features="--enable-autoref --enable-clusters --enable-history --enable-tmux"
 - features="--enable-autoref --enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-tclfilter --enable-tmux"
 - features="--enable-clusters --enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history --enable-xmlreport"
 - features="--enable-autoref --enable-debug --enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-debug --enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-debug --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-debug --enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history --enable-tclfilter"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history --enable-tmux"
 - features="--enable-autoref --enable-debug --enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-tclfilter --enable-tmux"
 - features="--enable-clusters --enable-debug --enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history --enable-tclfilter --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-debug --enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-clusters --enable-debug --enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history --enable-tclfilter --enable-tmux"
 - features="--enable-autoref --enable-clusters --enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"
 - features="--enable-autoref --enable-clusters --enable-debug --enable-history --enable-tclfilter --enable-tmux --enable-xmlreport"

before_install:
 - sudo add-apt-repository ppa:dns/gnu --yes  # this PPA has a newer automake (1.14) than one in default repo (1.11)
 - sudo apt-get update -qq
 - sudo apt-get install -qq automake libpopt-dev libglib2.0-dev libncursesw5-dev tcl8.5-dev libxml2-dev libconfig-dev screen tmux
 - ./configure $features

install:
 - make

script:
 - ./src/apt-dater -v
