env:
 - features=""
 - features="--enable-debug"
 - features="--enable-xmlreport"
 - features="--enable-autoref"
 - features="--enable-history"
 - features="--enable-clusters"
 - features="--enable-tclfilter"
 - features="--enable-debug --enable-xmlreport --enable-autoref --enable-history --enable-clusters --enable-tclfilter"

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libpopt-dev libglib2.0-dev libncursesw5-dev tcl8.5-dev libxml2-dev libconfig-dev screen
 - ./configure $features

install:
 - make
