# Config file of apt-dater in the form of the glib GKeyFile required

[Paths]
# Default: $XDG_CONFIG_HOME/apt-dater/hosts.conf
#HostsFile=path-to/hosts.conf

# Default: $XDG_DATA_HOME/apt-dater
#StatsDir=path-to/stats

[SSH]
# SSH binary
Cmd=/usr/bin/ssh
OptionalCmdFlags=

# SFTP binary
SFTPCmd=/usr/bin/mc /#sh:%u@%h:C/

DefaultUser=apt-dater
DefaultPort=22

#[Screen]
## Default: $XDG_CONFIG_HOME/apt-dater/screenrc
#RCFile=path-to/screenrc
#
## Default: %m # %u@%h:%p
#Title=%m # %u@%h:%p
#

[Commands]
CmdRefresh=sudo aptitude -q update && sudo apt-get -q -s upgrade && /usr/lib/debtrack/kernelinfo.sh
CmdUpgrade=sudo aptitude upgrade
CmdInstall=sudo aptitude install %s

[Appearance]
# Colors      = (COMPONENT FG BG ';')*
# COMPONENT ::= 'default' | 'menu' | 'status' | 'selector' | 'hoststatus' |
#               'query' | 'input'
# FG        ::= COLOR
# BG        ::= COLOR
# COLOR     ::= 'black' | 'blue' | 'cyan' | 'green' | 'magenta' | 'red' |
#               'white' | 'yellow'
Colors=menu brightgreen blue;status brightgreen blue;selector black red;
