# Hosts file of apt-dater (parsed by libconfig)
#
#  Hosts:
#  {
#	# Group Identifier
#	localnet:
#	{
#		# Group title used by the GUI (optional)
#		Title="local hosts"
#
#		# First host
#		localhost: {}
#
#		# Another host
#		node1.ibh.net:
#		{
#			# Comment visible in the GUI (optional)
#			#Comment="Cluster Node 1/2"
#
#			# Connection plugin (optional)
#			#Type="generic-ssh";
#
#			# Optional SSH parameters
#			#SSHUser="user1";
#			#SSHHost="fw.ibh.net";
#			#SSHPort=8022;
#			#SSHIdentity="/home/admin/.ssh/id_cluster";
#		}
#	}
#  }
#

Hosts:
{
    localnet:
    {
	Title="local hosts";

	localhost: {};
    }
}
