# Hosts file of apt-dater (parsed by libconfig)
#
#  Hosts:
#  {
#	# Group Identifier
#	localnet:
#	{
#		# Group title used by the GUI (optional)
#		Title="local hosts"
#
#		# First host
#		localhost: {}
#
#		# Another host
#		# REMARK: Identifiers must be valid libconfig names.
#		#   All names are case-sensitive. They may consist only
#		#   of alphanumeric characters, dashes (‘-’), underscores
#		#   (‘_’), and asterisks (‘*’), and must begin with a
#		#   letter or asterisk. No other characters are allowed.
#		host1:
#		{
#			# Comment visible in the GUI (optional)
#			#Comment="Cluster Node 1/2"
#
#			# Connection plugin (optional)
#			#Type="generic-ssh";
#
#			# Optional SSH parameters
#			#SSHUser="user1";
#			#SSHHost="node1.ibh.net";
#			#SSHPort=8022;
#			#SSHIdentity="/home/admin/.ssh/id_cluster";
#		}
#	}
#  }
#

Hosts:
{
    localnet:
    {
	Title="local hosts";

	localhost: {};
    }
}
