# Syntax:
#
#  [Customer Name]
#  Hosts=([OptionalUser@]host.domain[:OptionalPort];)*
#

Hosts:
{
    SpecialHosts:
    {
	Title="Very Special Interest Group";
	localhost:
	{
	    Hostname="127.0.0.1";
	}
	secondhost:
	{
	    Hostname="restricted-host";
	    SSHHost="127.0.0.1";
	    SSHPort=8022;
	}
    }
}
