Source: apt-dater
Section: admin
Priority: optional
Maintainer: Thomas Liske <liske@ibh.de>
Build-Depends: debhelper (>= 5), xsltproc, docbook-xsl, automake1.9, libglib2.0-dev, libncurses5-dev
Standards-Version: 3.7.2

Package: apt-dater
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, screen, ssh-client
Suggests: apt-dater-host
Description: terminal-based remote package update manager
 apt-dater can be used to keep your (Debian) GNU/Linux based hosts
 up to date using SSH.
Homepage: http://www.ibh.de/go/apt-dater

Package: apt-dater-host
Architecture: all
Depends: ssh-server | ssh, sudo, lsb-release, ${perl:Depends}
Suggests: debtrack
Description: package for hosts managed by apt-dater
 apt-dater can be used to keep your (Debian) GNU/Linux based hosts
 up to date using SSH.
 .
 This package should be installed on the managed hosts.
Homepage: http://www.ibh.de/go/apt-dater
