Source: apt-dater
Section: admin
Priority: optional
Maintainer: Thomas Liske <liske@ibh.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: apt-dater-host
Architecture: all
Depends: ssh-server, sudo, ${perl:Depends}
Suggests: debtrack
Description: package for hosts managed by apt-dater
 apt-dater can be used to keep your (Debian) GNU/Linux based hosts
 up to date using SSH.
 .
 This package should be installed on the managed hosts.
Homepage: http://www.ibh.de/go/apt-dater
